<template name="activityModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body center">

                    <h3> {{activity.title}} </h3>

                    <h4 class="spacing"> {{activity.authorName}} </h4>

                    <p class="spacing"> {{activity.date}} </p>

                    <hr />

                    <button id="complete" class="spacing button"> Completed </button>
                    <button id="delete" class="delete-button"> Delete </button>

                </div>

            </div>
        </div>
    </div>
</template>
