<template name="activityModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body center">

                    <input name="title" value="{{activity.title}}" class="activityTitleInput" />

                    <h5 class="spacing"> {{activity.authorName}} </h5>

                    <p class="spacing"> {{activity.date}} </p>

                    <select>
                      <option value="" disabled selected>Section</option>
                      {{#each section}}
                        <option selected="{{isSelected}}"> {{title}} </option>
                      {{/each}}
                    </select>

                    <hr />

                    <div class="row center" style="margin: 20px">

                      <div class="col-md-4">

                        <h4 style="margin-bottom: 15px" class="spacing"> Updates </h4>

                        {{#each update}}
                          <div class="note spacing">

                            <p> {{title}} </p>

                          </div>
                        {{/each}}

                        <form id="update">
                          <input type="text" style="width: 100%" name="update" placeholder="Update" />
                        </form>

                      </div>

                      <div class="col-md-4">
                      </div>

                      <div class="col-md-4">

                        <h4 style="margin-bottom: 15px" class="spacing"> Users </h4>

                        {{#each users}}
                          <p> {{name}} </p>
                        {{/each}}

                        <form id="search" autocomplete="off">
                          <input type="text" style="width: 100%" id="query" name="query" placeholder="Invite" />
                        </form>

                        <div style="margin-top: 10px">

                          {{#each result}}

                            <a id="result"> {{name}} </a>

                          {{/each}}

                        </div>

                      </div>

                    </div>

                    <i id="complete" class="accept icon-button spacing fa fa-2x fa-check" aria-hidden="true"></i>
                    <i id="delete" class="decline icon-button fa fa-2x fa-trash" aria-hidden="true"></i>

                </div>

            </div>
        </div>
    </div>
</template>
