<template name="deleteModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body center">

                    <h3> Are you sure? </h3>

                    <p class="spacing"> Deleted teams cannot be recovered. </p>

                    <hr />

                    <button id="delete" class="delete-button"> Delete </button>

                </div>

            </div>
        </div>
    </div>
</template>
