<template name="how">

  <div class="container">
    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> How It Works </h1>

        <hr />

        <p>
          fun fact: crrntly is the word 'currently' without vowels (if you don't count the letter 'y' as a vowel)
          <br /> it was easier to find a domain name that way
        </p>

        <img style="border-width: 1px; border-color: black; width: 100%; margin-top: 10px" src="http://i.imgur.com/okU1Mv4.png">

      </div>

      <div class="col-md-2">

      </div>

    </div>
  </div>

</template>
