<template name="how">

  <div class="container">
    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> How It Works </h1>

        <hr />

        <p>
          there are a lot of things crrntly does
        </p>

        <p>
          fun fact: crrntly is the word 'currently' without vowels (if you don't count the letter 'y' as a vowel)
          <br /> it was easier to find a domain name that way
        </p>

      </div>

      <div class="col-md-2">

      </div>

    </div>
  </div>

</template>
