<template name="login">

  <div class="container">
    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1>Welcome</h1>

        <hr />

      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row">

      <div class="col-md-6 center">

        <h2> Log In </h2>

        <p class="faded"> already part of the fun? </p>

        <form id="login">

          <input class="spacing" placeholder="Email" type="text" name="email" /> <br />
          <input placeholder="Password" type="password" name="password" /> <br />
          <input class="button spacing" type="submit" value="Done" /> <br />

        </form>

      </div>

      <div class="col-md-6 center">

        <h2> Register </h2>

        <p class="faded"> wanna be a part of the fun? </p>

        <form id="register">

          <input class="spacing" placeholder="Name" type="text" name="name" /> <br />
          <input placeholder="Email" type="text" name="email" /> <br />
          <input class="spacing" placeholder="Password" type="password" name="password" /> <br />
          <input placeholder="Confirm Password" type="password" name="confirm" /> <br />
          <input class="button spacing" type="submit" value="Next" /> <br />

        </form>

      </div>

    </div>

  </div>

</template>
