<template name="profile">

  <div class="container">

    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> Profile </h1>

        <hr />

      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row" style="margin-top: 30px">

      <div class="col-md-2" style="text-align: right">



      </div>

      <div class="col-md-8">

        <h3> {{currentUser.profile.name}}  <img style="margin-left: 50px; border-radius: 10px" src="{{currentUser.profile.avatar}}" /></h3>


      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row" style="margin-top: 40px; margin-bottom: 40px">

      <h2 class="center"> Teams </h2>

      {{#each team}}

        <div class="col-md-4">

          <a href="{{pathFor route='team'}}">
            <div class="team">

              <h4> {{title}} </h4>
              <p> {{message}} </p>

            </div>
          </a>

        </div>

      {{/each}}

    </div>

  </div>

</template>
