<template name="profile">

  <div class="container">

    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> Profile </h1>

        <hr />

      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row" style="margin-top: 30px">

      <div class="col-md-2" style="text-align: right">



      </div>

      <div class="col-md-8">

        <h3> {{currentUser.profile.name}}  <img style="margin-left: 50px; border-radius: 10px" src="{{currentUser.profile.avatar}}" /></h3>


      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row" style="margin-top: 40px">

      <h2 class="center"> Teams </h2>

      <div class="col-md-6 center">

        <div class="team center">

          <h4> Aspiring Youth </h4>

          <p>
            nonprofit thing
          </p>

        </div>

      </div>

      <div class="col-md-6 center">

        <div class="team center">

          <h4> Science Project </h4>

          <p>
            physics presentation
          </p>

        </div>

      </div>

    </div>

  </div>

</template>
