<template name="settings">

  <div class="container">

    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> Settings </h1>

        <hr />

      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row" style="margin-top: 30px">

      <div class="col-md-2" style="text-align: right">

      </div>

      <div class="col-md-8 center">

        <img style="border-radius: 10px; width: 30%" src="{{user.avatar}}" />
        <h3> {{user.name}} </h3>

      </div>

      <div class="col-md-2">

      </div>

    </div>

  </div>

</template>
