<template name="team">

  <div class="container">
    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> {{title}}

          {{#if isAdmin}}
            <a class="header-link" href="{{pathFor route='edit'}}"> edit </a>
          {{/if}}
          
        </h1>

        <p> {{message}} </p>

      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row" style="margin-top: 20px">

      {{#each section}}

        <div class="col-md-3">

          <h4> {{title}} </h4>

          <hr />

          {{#each activities}}

            <div class="activity">
              <h5> {{title}} </h5>
            </div>

          {{/each}}

          <div class="new-activity">
            <h5> new activity </h5>
          </div>

        </div>

      {{/each}}

      <div class="col-md-3" style="margin-top: 15px">

        <form id="section">
          <input type="text" style="width: 65%" name="section" placeholder="New Section" />
          <input type="submit" style="width: 30%" class="button" value="Add" />
        </form>

      </div>

    </div>

  </div>

</template>
