<template name="team">

  <div class="container">
    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> {{title}} <a class="header-link" href="{{pathFor route='edit'}}"> edit </a> </h1>

        <p> {{message}} </p>

      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row" style="margin-top: 20px">

      <div class="col-md-3">

        <h5> Todo </h5>

        <hr />

        <div class="activity">
          <h5> thing to do </h5>
        </div>

        <div class="activity">
          <h5> thing to do </h5>
        </div>

        <div class="new-activity">
          <h5> new activity </h5>
        </div>

      </div>

      <div class="col-md-3">

        <h5> In Progress </h5>

        <hr />

        <div class="new-activity">
          <h5> new activity </h5>
        </div>

      </div>

      <div class="col-md-3">

        <h5> Completed </h5>

        <hr />

        <div class="new-activity">
          <h5> new activity </h5>
        </div>

      </div>

      <div class="col-md-3">

        <form>
          <input type="text" style="width: 60%" name="title" placeholder="New Section" />
          <input type="submit" style="width: 30%" class="button" value="Add" />
        </form>

        <hr />

      </div>

    </div>

  </div>

</template>
