<template name="teams">

  <div class="container">

    <div class="row center">

      <div class="col-md-2">

      </div>

      <div class="col-md-8">

        <h1> Teams <span> <a class="header-link" href="/team/new"> new </a> </span> </h1>

        <hr />

        {{#each invitations}}

          <p> Invitation to join <span class="heavy"> {{title}} </span> <br> <a class="accept"> Accept </a> or <a class="decline"> Decline </a> </p>

        {{/each}}

      </div>

      <div class="col-md-2">

      </div>

    </div>

    <div class="row center">

      {{#each team}}

        <div class="col-md-4">

          <a href="{{pathFor route='team'}}">
            <div class="team">

              <h4> {{title}} </h4>
              <p> {{message}} </p>

            </div>
          </a>

        </div>

      {{/each}}

    </div>

  </div>

</template>
