@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);

$primary-font: 'Raleway', sans-serif;
$primary-color: #60803B;
$primary-color-dark: #3C4E26;
$grey: #4F4F4F;
$white: #F1F1F1;
$light-grey: #CECECE;
$faded: #979797;

.accept {
  color: #769d48
}

.decline {
  color: #cc4400;
}

.accept:hover {
  color: #769d48;
  text-decoration: none;
  cursor:pointer
}

.decline:hover {
  color: #cc4400;
  text-decoration: none;
  cursor:pointer
}

.heavy {
  font-weight: 600
}

a:hover {
  text-decoration: none
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.faded {
  color: $faded
}

p, input, a, h2, h1, h3, h4 {
  font-family: $primary-font
}

h1 {
  color: $primary-color;
}

h2 {
  color: $grey
}

.center {
  text-align: center;
}

.spacing {
  margin: 10px;
}

.button {
  width: 175px;
  text-align: center;
  padding: 0px;
  height: 35px;
  background-color: $primary-color;
  color: white;
  border-width: 0px;
}

.button:hover {
  background-color: $primary-color-dark;
}

input:focus {
  outline: none !important;
}

input {
  height: 35px;
  width: 175px;
  border-radius: 5px;
  border-style: solid;
  border-color: $light-grey;
  border-width: 1px;
  padding: 5px;
  padding-left: 15px;
}

.team {

  color: $grey;
  background: #FFF;
  border: 1px solid #AAA;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  overflow: hidden;
  width: 100%

}

.team:hover {

  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $white

}

.team:active {

  background-color: $primary-color-dark;
  border: 1px solid $primary-color-dark;
  color: $light-grey

}

.header-link {
  font-size: 40%;
  font-weight: 400
}
